
/* FONT FAMILIES
	body font 			font-family: 'Open Sans', sans-serif;
	small caps 			font-family: 'Alegreya Sans SC', sans-serif;
	body:	1em
			1.414em
			1.999em
			2.827em
			3.998em
COLORS
	Off White color: #EDE9E8;
	Black color: #1E2424;
*/


/*-----------------------------------------------------
	BODY STYLES
-------------------------------------------------------*/
* {
	box-sizing: border-box;
}

body{
	margin: 70px 0 0 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	background-color: #EDE9E8;
	color: #00030A; 
	background: url('../img/canyon_background.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
p {
	padding-bottom: 20px;
}
.text_sc {
	font-family: 'Alegreya Sans SC', sans-serif;
	font-weight: normal;
}
.content {
	padding: 20px;
	background: rgba(255, 255, 255, 0.5);
}
.full-width {
	margin: 100px auto;
	width: 90%;
	max-width: 1000px;
}

/*-----LIST STYLES*/
li {
	list-style: none;
	margin: 10px 0;
}
ul {
	padding: 0;
}

/*-----LINK STYLES*/
a {
	text-decoration: none;
	color: black;
}
a:hover {
	border-radius: 20px;
	font-weight: bold;
}

/*-----BUTTON STYLES*/
button {
	border: none;
	background-color: #1E2424;
	color: #EDE9E8;
	letter-spacing: 1.5px;
	border-radius: 5px;
	font-family: 'Alegreya Sans SC', sans-serif;
}
button:hover {
	cursor: pointer;
	
}

/*-----NAVIGATION*/
header {
	background-color: #1E2424;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 100;
}
.nav {
	width: 90%;
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#menu li {
	display: none
}
.nav span {
	font-size: 1.5em;
}
.nav span,
.nav a {
		color: #EDE9E8;
}
.nav ul {
	display: flex;
	justify-content: flex-end;
	width: 25%;
}
.nav h1 {
	margin: 0;
}
.nav p {
	width: 100%;
	text-align: center;
}

/*-----F00TER*/
footer p {
	text-align: center;
	color:  #EDE9E8;
	height: 20px;
}



/*------------------------------------
			HOME PAGE
--------------------------------------*/

.parks ul {
	text-align: center;
}

/*------------------------------------
		END HOME PAGE
--------------------------------------*/


/*------------------------------------
			PHOTOS PAGE
--------------------------------------*/


.photo-container {
	width: 100%;
	text-align: center;
	margin: 0 auto 4em auto;
	position: relative;
	padding: 0;
}

.photo-container img {
	max-width: 100%;
	max-height: 500px;
}

.photo-overlay {
	opacity: 0;
	transition: opacity .5s;
	color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0; 
	left: 0;
	padding: 0 20px;
	display: flex; /* For centering text inside .photo-overlay */
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgba(0,0,0, .5);
}

.photo-overlay:hover {
	opacity: 1;
}

.photo-overlay button {
	background-color: transparent;
	border: 1px solid #fff;
	border-radius: 5px;
	margin-top: 10px;
	padding: 5px;
	width: 80%;
	transition: border .1s, font-weight .1s;
}
.photo-overlay button:hover {
	border: 3px solid #fff;
	font-weight: bold;
}

/*----FLICKR PHOTO GALLERY STYLES*/
#photos ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin: 0;
	max-width: 1000px;
}
#photos li {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 200px;
	height: auto;
	padding: 20px;
}
#photos img {
	max-width: 200px;
	height: auto;
	margin: 0 auto;
	padding: 0;
	box-shadow: 5px 5px 2px #888888;
}

/*------------------------------------
		END PHOTOS PAGE
--------------------------------------*/


/*------------------------------------
			CAMPING PAGE
--------------------------------------*/


.slide {
	width: 100%;
	height: 100%;
	min-height: 350px;
	text-align: center;
	background: rgba(255, 255, 255, 0.5);
} 
.slide h2 {
	margin-top: 10%;
	font-size: 1.5em;
}
.slide ul {
	padding: 10px 0;
	margin: 20px 15%;
	height: 120px;
	background: rgba(255, 255, 255, 0.5);
}
.slide img {
	width: 80%;
	margin: 10% auto 15% auto;
}
.slide button {
	width: 70%;
	padding: 10px;
}	
.slide button a{
	color: #EDE9E8;
	font-family: 'Alegreya Sans SC', sans-serif;
}
.slide button a:hover {
	font-weight: normal;
}
.slide button:hover {
	border: 3px solid #EDE9E8;
}

/* slick styles*/
.slick-dots {
	bottom: 20px;
}
.slick-dots li button:before {
	font-size: 16px;
}

/*------------------------------------
		END CAMPING PAGE
--------------------------------------*/


/*------------------------------------
		HIKING PAGE
--------------------------------------*/

/*-----FORM STYLES*/
.form {
	width: 100%;
	margin: 0 auto;
	background: rgba(255, 255, 255, 0.5);
}

fieldset {
	border: none;
	padding: 10% 10% 0 10%;
}
.form-legend {
	font-weight: bold;
	margin-bottom: 20px;
}
input[type="radio"],
input[type="checkbox"] {
	margin: 10px 10px 10px 0;
  	width: 30px;
  	top: 10px;
}
select {
  	border: none;
  	border-radius: 5px;
	height: auto;
	margin: 10px auto 0 auto;
	outline: 0;
	padding: 10px;
	width: 100%;
	border: 1px solid  #1E2424;
}
.form button {
	width: 80%;
	height: 40px;
	margin: 10%;
}
.form button:hover {
	font-weight: 700;
}
/*------------------------------------
		END HIKING PAGE
--------------------------------------*/

/*------------------------------------
			MEDIA QUERIES
--------------------------------------*/

/*-----MEDIUM SCREENS*/
@media (min-width: 769px ) {
	/*----BODY AND LAYOUT STYLES*/
	.content {
		padding: 30px;
	}
	.full-width {
		width: 90%;
	}
	.activities .right {
	padding-left: 100px;
	}
	.activities ul {
		list-style: none;
		padding-left: 0;
	}
	.activities,
	.select-buttons,
	.gallery {
		display: flex;
		justify-content: space-between;
	}
	.grid-half {
	  width: 50%;
	  float: left;
	}
	.col-left {
		width: 60%;
	}
	.col-right {
		width: 40%;
		margin-left: 30px;
	}
	/*-----NAVIGATION*/
	.nav {
		width: 90%;
	}
	.nav select {
		display: none;
	}
	.nav li a {
		padding-left: 10px;
	}
	#menu li {
		display: block;
	}
	/*-----PHOTOS PAGE*/
	.select-buttons {
		flex-direction: column;
	}
	.photo-container {
		max-width: 90%;
	}
	.photo-overlay {
		max-width: 500px;
		margin: auto;
	}
	.select-buttons h3 {
		font-size: 2em;
	}
	.select-buttons p {
		padding: 0;
	}

	/*-----HIKING PAGE*/
	.form {
		width: 60%;
	}
}

/*-----LARGE SCREENS*/
@media only screen (min-width: 1025px) {
	/*-----PHOTOS PAGE*/
	.select-buttons {
		flex-direction: row;
	}
	.select-buttons h3 {
		font-size: 1em;
	}
	.select-buttons p {
		font-size: .75em;
	}
}